<div class="mar">
  <div class="text-center">
    <h1 class="type"><b>MEHAR'S JOURNEY</b></h1>
   <i>A journey from childhood to adulthood</i>
  </div>
  
  
 <!--
<mdb-carousel [animation]="'slide'">
  
    <mdb-carousel-item>
      <img class="d-block w-100 hei" src="@/../../../assets/images/2.jpg" mask="black-light" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 hei" src="@/../../../assets/images/1.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 hei" src="@/../../../assets/images/3.jpg" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100 hei" src="@/../../../assets/images/4.jpg" alt="Third slide">
    </mdb-carousel-item>

  </mdb-carousel>
-->
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 hei" src="@/../../../assets/images/2.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Childhood</h3>
        <p>Twinkle, Twinkle little star. Do you know how loved you are.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 hei" src="@/../../../assets/images/1.jpg" alt="Second slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <p>Damn, that smile that used to brighten up everyone's day.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/3.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Mom & Dad</h3>
        <p>Together with his parents was Mehar's favourite place to be</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/4.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Brother's for life</h3>
        <p>Mehar's best friend as well as the best enemy since childhood.</p>
      </div>
    </mdb-carousel-item>
    
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/6.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Best Blessing</h3>
        <p>There is no better friend than a sister. And there is no better sister than you.
          From nothing to all, from enemies to best friends, we share it all.
        </p>
      </div>
    </mdb-carousel-item>
    
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/7.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Cousins</h3>
        <p>Cousins by blood, Friends by choice.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/8.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Friends</h3>
        <p>There's something about childhood friends that one just can't replace.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/9.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Adolescence</h3>
        <p>The time of uncertainity, stuffed with expectations and glazed with rebellion.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/10.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">College Life</h3>
        <p>Big fat chosen family of Technical College</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/11.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <p>That one friends gang who were more like a family.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/12.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">From Technical to Engineering</h3>
        <p>The journey of a class captain, placement co-ordinator and a topper to an ordinary yet handsome boy.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/13.jpg" alt="Third slide">
        <div class="waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption text-dark">
        <h3 class="h3-responsive">First Chat</h3>
        <p>It all started with just a picture.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/14.jpg" alt="Third slide">
        <div class="waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Roorkee</h3>
        <p>The trip loaded with memories as Mehar's best friend's arrived during the trip.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/15.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <p>One of those things Mehar would fix if he could go back in time.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/16.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Friendship</h3>
        <p>Unexpected friendships are the best ones.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/17.jpg" alt="Third slide">
        <div class="waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption text-primary">
        <h3 class="h3-responsive">Best Friend</h3>
        <p><b>Just a sweet picture of Mehar with his best Friend.</b></p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/5.jpg" alt="Third slide">
        <div class="waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Some Special bonds</h3>
        <p>Bonds formed from 'Darte Hai Kya' to 'Bhut Darte Hai'and from discussing who is the elder one.
           The bond between us became stronger. </p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/18.jpg" alt="Third slide">
        <div class="waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive"></h3>
        <p></p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 hei">
        <img class="d-block w-100 hei" src="@/../../../assets/images/19.jpg" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Picture Abhi Baaki Hai Mere Dost!! </h3>
        
      </div>
    </mdb-carousel-item>
    
    
  </mdb-carousel>
</div>