@import url('https://fonts.googleapis.com/css?family=Tangerine');

.hei
{  
    height: 505px;   
}
.mar
{
    //margin-top: -500px;
    padding-top: 70px;
}
.type
{
    font-family:'Tangerine';
    text-decoration: solid;
    text-shadow: 6px 6px 6px darkslategray;;
}