<div>
<div id="exportthis" class="mar">
    <div style="width:100%; height:550px; padding:20px; text-align:center; border: 5px solid #787878"
     class="back">
           <span style="font-size:50px; font-weight:bold">Best Friend In The World</span>
           <br><br>
           <span style="font-size:25px"><i>This is to certify that</i></span>
           <br><br>
           <span style="font-size:30px"><b>MEHAR NARANG</b></span><br/>
           <span style="font-size:25px"><i>Is the best Best Friend ever</i></span> <br/><br/>
           <span style="font-size:20px">
            You have graduated to the title 'Best Friend In The World' as you are always there for me, 
            good and bad times. We have been through so much and I am proud to issue you with this award of 
            excellence, you are an inspiration to all, and I am honoured to call you my BEST FRIEND.
           </span> <br/><br/><br/>
           <span style="font-size:20px"><i>Dated:</i></span><br>
          
          <span style="font-size:24px">26th July,2020</span>
    </div>
    </div>
    <br>

    <footer>
    <div class="text-center ali">
        <button class="btn btn-dark" (click)="captureScreen()">LOAD Certificate</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-dark" (click)="downloadScreen()">DOWNLOAD Certificate</button>
    </div>
</footer>
</div>