<div class="background">
<div class="marginclass">
    <div class="block d-inline-block shadow-lg roorkee">
        <div class="music">
        <span class="text-center"><b>ROORKEE</b></span>
        </div>
    </div>
    
        <div class="block d-inline-block shadow-lg agra">
        <div class="music">
        <span class="text-center"><b>AGRA</b></span>
        </div></div>
    
        <div class="block d-inline-block shadow-lg mumbai">
            <div class="music">
            <span class="text-center"><b>MUMBAI</b></span>
            </div></div>
    </div>
</div>