<div class="background">
    <form action="" class="mar text-center">
        <div class="box rounded">
        <h3 class="shadoww"><i>WISHES</i></h3>
        <br>
        <div class="row">
           
            <div class="col-6">
                <b>
                    <div class="row">
                        <div class="col-9">
                <label for="">1. I am a snake, snake is my girl-friend, the game of block unblock is my new trend. Guess who am I ?</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" 
                required pattern="Sumit"
                ngModel name="sumit" #sumit="ngModel">
            </div>
            <div class="alert alert-success" *ngIf="sumit.valid">
                Happy birthday 🎂🎉🎉to a person that is charming, talented and witty and reminds me a lot of myself😁😁 
May your all dreams come true 
Happy birthday 🍻🍻🍺🍺🥂mehar.
   -sumit
            </div>
            </div><br>
            <div class="row">
                <div class="col-9">
            <label for="">
                2. Virat Kohli is my crush, realising you are elder than me still sucks.
                 Want to disown my fatness, I am Golu's mattress.
                </label>
            </div>
            <div class="col-3">
        <input type="text" class="form-control" required pattern="Akanksha"
        ngModel name="akanksha" #akanksha="ngModel">
    </div>
    <div class="alert alert-success" *ngIf="akanksha.valid">
        Happiest birthday to my birthday twin😚😚 One of the most caring, coolest (ofcousre less than me) and happy soul I have ever met. 🥳🥳🥳 Sending you tonnes of best wishes on your day dude.😇😇Keep smiling always 💙💙
-Akanksha
    </div>
         </div><br>
         <div class="row">
        <div class="col-9">
          <label for="">
              3. Dil ke kareeb hu,
              Tumhare azeez hu
              Jaante ache se ho
              Phechaan bhi jao tum mere bachpan k dost pakke ho.</label>
        </div>
        <div class="col-3">
         <input type="text" class="form-control" required pattern="Saksham"
         ngModel name="saksham" #saksham="ngModel">
     </div>
     <div class="alert alert-success" *ngIf="saksham.valid">
        Protecting me from all the troubles in life wasn’t your job, it was in your blood and in your very nature❤️. Helping me countless number of times. I thank you for all you have given to me. You are a true rider and a provider 😂 of happiness for me . My partner in everything 🔥. At last i just wanna say we both are truly blessed as we have been blessed for having the best brothers. 🤪🤣❤ Happy birthday, brother. Lots of love for you! 🥳
        -Saksham
     </div>
        </div><br>
         <div class="row">
    <div class="col-9">
     <label for="">
         4. Younger than you yet so close. Pizza with extra cheese is my dose. 
         Up for people on the toes you often call me Alexa as if I'm a hoe.  Guess who am I?</label>
     </div>
     <div class="col-3">
    <input type="text" class="form-control" required pattern="Uddhav"
    ngModel name="uddhav" #uddhav="ngModel">
</div>
<div class="alert alert-success" *ngIf="uddhav.valid">
    Happiest Birthday Bhaiya!! :)
</div>
     </div><br>
     <div class="row">
    <div class="col-9">
    <label for="">
        5. As busy as a bee, I have businesses thirty three. 
        Outings are to which I always disagree, I am the one who doesn't waste a single penny.</label>
    </div>
    <div class="col-3">
    <input type="text" class="form-control" required pattern="Krishna"
    ngModel name="krishna" #krishna="ngModel">
</div>
<div class="alert alert-success" *ngIf="krishna.valid">
    Happy Bithday Mehar. Stay blessed.
    -Krishna
</div>
    </div><br>
    <div class="row">
    <div class="col-9">
    <label for="">
        6. Not too close,
        But not that far,
        Close to you,
        But hardly at parts,
        Fighting for nothing at all to staying for days together and fighting for a cycle ride
        Guess who am I?</label>
    </div>
    <div class="col-3">
    <input type="text" class="form-control" required pattern="Geetansh"
    ngModel name="geetansh" #geetansh="ngModel">
</div>
<div class="alert alert-success" *ngIf="geetansh.valid">
    Happy Birthday to my amazing brother ! I hope this year brings you all the joy you deserve. Enjoy your special day!
I remember the days when I used to stay days at your place fighting for cycle ride video games 😂 I miss those days of future past!😂❤️
Love you brother , Miss you , Hope at-least this year we celebrate your birthday together after 5 years!😂❤️
-Geetansh
</div>
    </div><br>
    <div class="row">
        <div class="col-9">
        <label for="">
            7. Around you my life is curled, my dream is to roam the world. I still get butterflies everytime I see you, I'll always be with you this is my promise to you.</label>
        </div>
        <div class="col-3">
        <input type="text" class="form-control"required pattern="Golu"
        ngModel name="golu" #golu="ngModel">
    </div>
    <div class="alert alert-success" *ngIf="golu.valid">
        🎂🎉🎂Happiest birthday to my best friend, my doggy🐕 , my G.B and my lifeline.❤️😍
It's your 22nd birthday.. hope it be a great one❤️❤️
May your birthday be as special as you are😘🎂🎉You have always been with me in my tough times, you're the one who makes me feel special even when I feel down.😙
I miss the days when not going out together was rare❣️❣️, the times when deciding where to go was a tedious task for us😂😂😂, the times when we used to waste more of our time on the phone searching📱 for the next cafe to land on😂😂🍔🍗 ,the times when we used to compare currencies of all the countries and decide our next destination😂😂😂(actually another impossible trip😂😂) and the times when seeing you everyday was a part of my everyday routine😘.
I wish there will be more of your future trip plans❤️ and more of my cancellation policies(cuz that is what I love to do😂😂) but many more successful trips as well❣️❣️
I know we don't agree on a lot of stuff and every time fight and annoy each other but one thing remains constant❤️ that is I'll come back to you every time cuz you are important to me( more than my words could reflect).❣️❣️❤️😘😘 You can always and forever count on me and I'll be there for you.
I promise to make you smile and make sure you are alright when you're sad.
Life seems so beautiful and the reason behind it is you with whom I have shared the best moments of my life.❤️❤️😘
Also I am not your rasmalai😂😂 and I don't want any rasgulla or gulab jamun.😂😂😂 This rasmalai is happy with her Kaju roll😘😘❤️❤️❤️
😍😍❣️❣️Many many happy returns of the day once again my love❣️❤️❤️😘😘😍😍
- Your Golu, Rasmalai, Panda and the list is endless😂😂😘😘😘
    </div>
        </div><br>
        <div class="row">
            <div class="col-9">
            <label for="">
                8. Twadda oo muchho ko taau dena , Aahaa! Ohhoo! Matlab majjja hi aagaya tha dekh ke , udhar Manikarnika ne angrez ka sarr kata, yaha aapne muchh marodi! 😂😂😂😂😂.
                Chalo ab mere 2.5 rupee vapas do😂😂😂😂</label>
            </div>
            <div class="col-3">
            <input type="text" class="form-control" required pattern="Sahej"
            ngModel name="sahej" #sahej="ngModel">
        </div>
        <div class="alert alert-success" *ngIf="sahej.valid">
            Happy Birthday brooooo🍻🍪🍩🍿🍫🎂🍭🍯🌰🥜🍰🧁🥧🍦🍨🍢🍧🍥🍘🍤🍚🍣🍝🥟🍥🍜🍜🍘🦴🥪🦴🌭🥙🍔🥨🍍🍒🥥🍎🍉🍒🍋🍈🥬🥒🍈🥥🍆🍌🥑
Aapke liye itna sab ek saath khana baaye haath ka khel hai
Oo fir aagya oo khushi da dinn jab twannu dher saari jhappiyan te pappiyan milengi. 😂😂👅

Dher saari masti, ghumna firnaa , moviees, humari sabki help karnaa, sab yaad rahegaa.💙
*Movie se yaad aaya , Twadda oo muchho ko taau dena , Aahaa! Ohhoo! Matlab majjja hi aagaya tha dekh ke , udhar Manikarnika ne angrez ka sarr kata, yaha aapne muchh marodi! 😂😂😂😂😂.
Chalo ab mere 2.5 rupee vapas do😂😂😂😂

Jokes apart Happy Birthday again bhaiyaaa GBU🍰🍰
-Sahej
        </div>
            </div>
            <br><div class="row">
                <div class="col-9">
                <label for="">
                    9. Tenu yad wo khas lamhe jab aapan dono ne milke lakho kamae the ❤️❤️?? Jab pheli bar sports den pe first aur third aae the❤️??Wo price lagne pe har rat ko bhagwan talkies jana 😍!! Wo nitin bhaiya ki bike leke ghumne jana🤪✌🏻!!Chal ab bta bhi de mai kon?</label>
                </div>
                <div class="col-3">
                <input type="text" class="form-control" required pattern="Prajwal"
                ngModel name="prajwal" #prajwal="ngModel">
            </div>
            <div class="alert alert-success" *ngIf="prajwal.valid">
                Wishing u a very very happy birthday veere 🎂🍺😍🤪🥳... tenu yad wo khas lamhe jab aapan dono ne milke lakho kamae the ❤️❤️?? Jab pheli bar sports den pe first aur third aae the❤️??Wo price lagne pe har rat ko bhagwan talkies jana 😍!! Wo nitin bhaiya ki bike leke ghumne jana🤪✌🏻!!
Wo bb dekhte dekhte aapka so jana 🤣😂!!wo bhuk lagne pr paties khane jana aur fr waha beth ke mm khelna 🤩🥺!! Itni sari memories h ki likhte likhte thak jau pr khatam nhi ho pr sab bhot precious h 🥳🥳!! Punjabi swag toh bhul hi gaya 😋😍!! Aur kissi ka bhi birthday aane pr uski chat pe jake pitai🤩🤩...... missing u bro 😒😒...... wow 😍 Roorkee😍 sab kuch bhot aacha tha yar.... uper se aapka hisab lagana🤓😂.... yad rakhna ye sab bhul mat jana aapne bhai ko aur hamesha happy rehena mera aashirwad hamesha aapke sath rahega .. love u vada bhara❤️ dhyan rakhna aapna aur aapni family ka 🙏🏻 aur miss mat krna meko😅 😘😘aache se enjoy krna aapna birthday bhagwan aapko hamesha kush rakhe aur dhanwan banae toh aap hamesha humara payment krte raho😂🤪.. “RADHASOAMI 🙏🏻“
-Prajwal
            </div>
                </div>
            </b>
            </div>
            <div class="col-6">
                <b>
                    <div class="row">
                        <div class="col-9">
                        <label for="">
                            10. As brave as a lion , as playful as a kitten.
                             I fear no man but fear all women. Guess who am I ?</label>
                        </div>
                        <div class="col-3">
                        <input type="text" class="form-control" required pattern="Parveen"
                        ngModel name="parveen" #parveen="ngModel">
                    </div>
                    <div class="alert alert-success" *ngIf="parveen.valid">
                        🥳🥳Happy birthday bro! May your day be more beautiful than a unicorn 🦄farting 💨rainbows🌈!🤣🤣🤣🤣
You’re turning a perfect age. Old enough to recognize your mistakes but young enough to make some more. Happy Birthday!😁😁
                -Parveen Gudwal
                    </div>
                        </div><br>
                        <div class="row">
                            <div class="col-9">
                            <label for="">11. When I saw you drinking, I knew we'd be friends.
                                 Getting high together was how it went, being sober is what we pretend. 
                                From road to the lift you know the end. Guess who am I ?</label>
                            </div>
                            <div class="col-3">
                            <input type="text" class="form-control" required pattern="Sanket"
                            ngModel name="sanket" #sanket="ngModel">
                        </div>
                        <div class="alert alert-success" *ngIf="sanket.valid">
                            Happy Birthday Mehar 🍻🍻 
 May god fulfill your wishes 💥💥 
Party hard in lockdown😂 and haa jab sab kch khtam ho jaye to chlege GOKULDHAM asli wale😂😂😂
- Sanket
                        </div>
                            </div><br>
                            <div class="row">
                                <div class="col-9">
                                <label for="">
                                    12. If you over-speed,  you have to pay the fine. I am the one who love night outs and wine.</label>
                                </div>
                                <div class="col-3">
                                <input type="text" class="form-control" required pattern="Anshika"
                                ngModel name="anshika" #anshika="ngModel">
                            </div>
                            <div class="alert alert-success" *ngIf="anshika.valid">
                                Happiest birthday narang aka paaji ☺🥂🥂🥂💛 
May this year filled with lots and lots of good things and wishes for you.
Thanks for being such an amazing friend to me.
To all the unforegettable memories we have made these past 2 years and for more to come.
Wishing you all the fun and frolic quarantine birthday💛.
Cheers to you for being so funny , smart, benevolent and a wonderful punjabi munda😂😂💛😍
For more memories and trips we do plan after this year and more ambani wali parties
Till then wishing you a great and a grand 22nd birthday. 
Happy 26th july and mehar day to you!💛💛💫.

Best laughs and fun
~anshi.
                            </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-9">
                                    <label for="">
                                        13. I don't know how to drive a car, but love to drive, I love to have drinks of girls as it's of no price.
                                    </label>
                                    </div>
                                    <div class="col-3">
                                    <input type="text" class="form-control" required pattern="Shikhar"
                                    ngModel name="shikhar" #shikhar="ngModel">
                                </div>
                                <div class="alert alert-success" *ngIf="shikhar.valid">
                                    Happy birthday Mehar bhai!!!.... Mere Rajasthani bro😎....Janamdin ki khoob khoob badhai... Mujhe kaafi khushi hui thi literally jab mujhe pata chala ki chalo Rajasthan se main akela nhi hun.... Aur fir toh apni jaan pehchaan hi nikal aayi... Uske baad toh anginat yaadein.... Mumbai ki trip...toh kya hi bolun... Bas waisi ek trip pe dobara chalna hai... Pr corona ke chalte toh dekho😅...Baaki aise hi Football me naam roshan krio aur khoob enjoy karo.... Again happy birthday 😇🔥🔥🎂 🎂
                                </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-9">
                                        <label for="">
                                            14. Not brothers by blood but definitely by heart, no one or nothing will keep us apart. From drinking in college to an unsuccessful trip, the greatest gift given by God is your friendship.
                                        </label>
                                        </div>
                                        <div class="col-3">
                                        <input type="text" class="form-control" required pattern="Ajit"
                                        ngModel name="ajit" #ajit="ngModel">
                                    </div>
                                    <div class="alert alert-success" *ngIf="ajit.valid">
                                        Happy Birthday Mehar 
You are the best bhai or friend i could have ever got 
We have endless memories together and moments that we have shared till now 
Our so called udaipur trip
Milton waali bottle 
Tera pehla birthday 
Endless bike rides
-Ajit
                                    </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-9">
                                            <label for="">
                                                15. From fights to fun,
                                                From nothing to all,
                                                From enemies to best friends,
                                                We share it all.
                                                Understanding and sharing a special bond
                                                I'm someone you admire a lot</label>
                                            </div>
                                            <div class="col-3">
                                            <input type="text" class="form-control"required pattern="Nishi"
                                            ngModel name="nishi" #nishi="ngModel">
                                        </div>
                                        <div class="alert alert-success" *ngIf="nishi.valid">
                                            A very very happy birthday Bhaiiii💕
Actually a very happy lockdown edition birthday😂🤗
May god bless you with good health and enormous wealth, adding on prosperity in your life.🤗 May you get the ability to stand up for everything you desire for. All the very best for every endeavour planned for you ahead in life🥰 
Thanks a lot for being such a great part of my life and for being such a great friend and above all for being such a wonderful brother, with whom I share everything and be who I am. I just wish you the best in life and also that we get to share the same bond until forever. God bless you Bhaiii 💕Lots of love to you❤️
Once again many many happy returns of the day 🎉❤️
                                        </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-9">
                                                <label for="">
                                                    16. Bhaiya mujhe toh aap aache se jaante hi ho, ghar ka sabse adarshwadi aur saacha shaks, zhoot fareeb se koso dur, Ek dum  Bhola Manush, Pencil ko kaan pe lagake saath mei pure ghar mei uski khoj karna yaa Akhade mei kandhe se Kandha milaye dand pelna, apni harkaato se aapko pareshan karna ya aapki harkaato ka duniya mei prachar karna bas yehi mera kaaam. Baaato Mai Kaun😎</label>
                                                </div>
                                                <div class="col-3">
                                                <input type="text" class="form-control" required pattern="Alok"
                                                ngModel name="alok" #alok="ngModel">
                                            </div>
                                            <div class="alert alert-success" *ngIf="alok.valid">
                                                A Berry Berry Berry happy wala bday to jagat bhaiya Mehar bhaiya. Humari zindgai ke ek maatr sahare, sabke pyaare sabke dulaare Mehar bhaiya, Punjab ki shaan aur haatho mei bheem ki bujhaaon jaisi jaaan😂, Nathu lal ke sabse bade competition humare pyaare Mehar bhaiya. Te is  Janamdin de shubh awsar par bhagwan twanu khushiyan de dher, Punjab de eklote babbar sher, happy birthday humare bhaiya Mehar bhaiyaa.
                                            </div>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col-9">
                                                    <label for="">
                                                        17. Jb oo hal hum dono jande ne sath gym wich sab londe dekhan baith jande ne tera haal. Dass vi mai kon?</label>
                                                    </div>
                                                    <div class="col-3">
                                                    <input type="text" class="form-control" required pattern="Vardaan"
                                                    ngModel name="vardaan" #vardaan="ngModel">
                                                </div>
                                                <div class="alert alert-success" *ngIf="vardaan.valid">
                                                    Sagar ch jine moti, Ambar ch jine tare, rab tenu uni khushiya bakshe, te khwab tere pure hon sare de sare, Te rab krre ki mil jaye tannu woh veer jo krre tere sapne we saaree.....🤣🤣💪🙏jb oo hal hum dono jande ne sath gym wich sab londe dekhan baith jande ne tera haal...weh rab mehar krre tannu jo bi tu chohda aa🙏janamdin mubarak meri behan.💥💥🥳🥳🥳
                                                    -Vardaan
                                                </div>
                                                    </div>
            </b>
            </div>
        
        </div>
        <br>
      <!--  <div class="text-center">
            <button class="btn btn-dark">SUBMIT</button>
        </div>
    -->
</div>
<br>
    </form>
</div>
