<div class="background">
    <form action="" class="mar text-center">
        <h3 class="shadoww"><i>WISHES</i></h3>
        <div class="row">
           
            <div class="col-6">
                <b>
                    <div class="row">
                        <div class="col-9">
                <label for="">1. I am a snake ,snake is my girl-friend, the game of block unblock is my new trend. Guess who am I ?</label>
            </div>
            <div class="col-3">
                <input type="text" class="form-control" 
                required pattern="Sumit"
                ngModel name="sumit" #sumit="ngModel">
            </div>
            <div class="alert alert-success" *ngIf="sumit.valid">
                
            </div>
            </div>
            <div class="row">
                <div class="col-9">
            <label for="">
                2. Virat Kohli is my crush, realising you are elder than me still sucks.
                 Want to disown my fatness, I am Golu's mattress.
                </label>
            </div>
            <div class="col-3">
        <input type="text" class="form-control" required pattern="Akanksha"
        ngModel name="akanksha" #akanksha="ngModel">
    </div>
    <div class="alert alert-success" *ngIf="akanksha.valid">
        Happiest birthday to my birthday twin😚😚 One of the most caring, coolest (ofcousre less than me) and happy soul I have ever met. 🥳🥳🥳 Sending you tonnes of best wishes on your day dude.😇😇Keep smiling always 💙💙
-Akanksha
    </div>
         </div>
         <div class="row">
        <div class="col-9">
          <label for="">
              3. Dil ke kareeb hu,
              Tumhare azeez hu
              Jaante ache se ho
              Phechaan bhi jao tum mere bachpan k dost pakke ho.</label>
        </div>
        <div class="col-3">
         <input type="text" class="form-control" required pattern="Saksham"
         ngModel name="saksham" #saksham="ngModel">
     </div>
     <div class="alert alert-success" *ngIf="saksham.valid">
        Protecting me from all the troubles in life wasn’t your job, it was in your blood and in your very nature❤️. Helping me countless number of times. I thank you for all you have given to me. You are a true rider and a provider 😂 of happiness for me . My partner in everything 🔥. At last i just wanna say we both are truly blessed as we have been blessed for having the best brothers. 🤪🤣❤ Happy birthday, brother. Lots of love for you! 🥳
        -Saksham
     </div>
        </div>
         <div class="row">
    <div class="col-9">
     <label for="">
         4. Younger than you yet so close. Pizza with extra cheese is my dose. 
         Up for people on the toes you often call me Alexa as if I'm a hoe.  Guess who am I?</label>
     </div>
     <div class="col-3">
    <input type="text" class="form-control" required pattern="Uddhav"
    ngModel name="uddhav" #uddhav="ngModel">
</div>
<div class="alert alert-success" *ngIf="uddhav.valid">
    
</div>
     </div>
     <div class="row">
    <div class="col-9">
    <label for="">
        5. As busy as a bee, I have businesses thirty three. 
        Outings are to which I always disagree, I am the one who doesn't waste a single penny.</label>
    </div>
    <div class="col-3">
    <input type="text" class="form-control" required pattern="Krishna"
    ngModel name="krishna" #krishna="ngModel">
</div>
<div class="alert alert-success" *ngIf="krishna.valid">
    
</div>
    </div>
    <div class="row">
    <div class="col-9">
    <label for="">
        6. Not too close,
        But not that far,
        Close to you,
        But hardly at parts,
        Fighting for nothing at all to staying for days together and fighting for a cycle ride
        Guess who am I?</label>
    </div>
    <div class="col-3">
    <input type="text" class="form-control" required pattern="Geetansh"
    ngModel name="geetansh" #geetansh="ngModel">
</div>
<div class="alert alert-success" *ngIf="geetansh.valid">
    Happy Birthday to my amazing brother ! I hope this year brings you all the joy you deserve. Enjoy your special day!
I remember the days when I used to stay days at your place fighting for cycle ride video games 😂 I miss those days of future past!😂❤️
Love you brother , Miss you , Hope at-least this year we celebrate your birthday together after 5 years!😂❤️
-Geetansh
</div>
    </div>
            </b>
            </div>
            <div class="col-6">
                <b>
                    <div class="row">
                        <div class="col-9">
                        <label for="">
                            7. As brave as a lion , as playful as a kitten.
                             I fear no man but fear all women. Guess who am I ?</label>
                        </div>
                        <div class="col-3">
                        <input type="text" class="form-control" required pattern="Parveen"
                        ngModel name="parveen" #parveen="ngModel">
                    </div>
                    <div class="alert alert-success" *ngIf="parveen.valid">
                        
                    </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                            <label for="">8. When I saw you drinking, I knew we'd be friends.
                                 Getting high together was how it went, being sober is what we pretend. 
                                From road to the lift you know the end. Guess who am I ?</label>
                            </div>
                            <div class="col-3">
                            <input type="text" class="form-control" required pattern="Sanket"
                            ngModel name="sanket" #sanket="ngModel">
                        </div>
                        <div class="alert alert-success" *ngIf="sanket.valid">
                            Happy Birthday Mehar 🍻🍻 
 May god fulfill your wishes 💥💥 
Party hard in lockdown😂 and haa jab sab kch khtam ho jaye to chlege GOKULDHAM asli wale😂😂😂
- Sanket
                        </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                <label for="">
                                    9. If you over-speed,  you have to pay the fine. I am the one who love night outs and wine.</label>
                                </div>
                                <div class="col-3">
                                <input type="text" class="form-control" required pattern="Anshika"
                                ngModel name="anshika" #anshika="ngModel">
                            </div>
                            <div class="alert alert-success" *ngIf="anshika.valid">
                                Happiest birthday narang aka paaji ☺🥂🥂🥂💛 
May this year filled with lots and lots of good things and wishes for you.
Thanks for being such an amazing friend to me.
To all the unforegettable memories we have made these past 2 years and for more to come.
Wishing you all the fun and frolic quarantine birthday💛.
Cheers to you for being so funny , smart, benevolent and a wonderful punjabi munda😂😂💛😍
For more memories and trips we do plan after this year and more ambani wali parties
Till then wishing you a great and a grand 22nd birthday. 
Happy 26th july and mehar day to you!💛💛💫.

Best laughs and fun
~anshi.
                            </div>
                                </div>
                                <div class="row">
                                    <div class="col-9">
                                    <label for="">
                                        10. I don't know how to drive a car, but love to drive, I love to have drinks of girls as it's of no price.
                                    </label>
                                    </div>
                                    <div class="col-3">
                                    <input type="text" class="form-control" required pattern="Shikhar"
                                    ngModel name="shikhar" #shikhar="ngModel">
                                </div>
                                <div class="alert alert-success" *ngIf="shikhar.valid">
                                    
                                </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-9">
                                        <label for="">1. I am a snake ,snake is my girl-friend, the game of block unblock is my new trend. Guess who am I ?</label>
                                        </div>
                                        <div class="col-3">
                                        <input type="text" class="form-control" required pattern="Sumit"
                                        ngModel name="sumit" #sumit="ngModel">
                                    </div>
                                    <div class="alert alert-success" *ngIf="sumit.valid">
                                        
                                    </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-9">
                                            <label for="">1. I am a snake ,snake is my girl-friend, the game of block unblock is my new trend. Guess who am I ?</label>
                                            </div>
                                            <div class="col-3">
                                            <input type="text" class="form-control"required pattern="Sumit"
                                            ngModel name="sumit" #sumit="ngModel">
                                        </div>
                                        <div class="alert alert-success" *ngIf="sumit.valid">
                                            
                                        </div>
                                            </div>
            </b>
            </div>
        
        </div>
        <br>
      <!--  <div class="text-center">
            <button class="btn btn-dark">SUBMIT</button>
        </div>
    -->
    </form>
</div>
