<div class="background">
    <div class="marginclass">
<div class="block d-inline-block shadow-lg trip">
    <div class="music" routerLink="/three/trips">
    <span class="text-center"><b>TRIPS</b></span>
    </div>
</div>
    <div class="block d-inline-block shadow-lg wish">
    <div class="music" routerLink="/three/wishes">
    <span class="text-center"><b>WISHES<br></b></span>
    </div></div>

    <div class="block d-inline-block shadow-lg quiz">
        <div class="music" routerLink="/three/journey">
        <span class="text-center"><b>JOURNEY</b></span>
        </div></div>
</div>
</div>